@import '../node_modules/antd/dist/antd.css';

@import './styles/container';
@import './styles/order';
@import './styles/login';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fafafa;
}