.navbar_container {
  //box-shadow: 5px 10px;
  border-bottom: 1px solid #c8c8c8;

  ul.nav_bar {
    margin: 0.8rem 0;
  }
}

.container_40 {
  padding: 0 6.5rem;
}

.banner {
  width: 100%;
  //padding-top: 10px;
}

.information {
  margin-top: 10px;
}


// Utility Classes
.bg-grey {
  background-color: #fafafa !important;
}

.search-result {

  padding: 50px 0;

  display: flex !important;
  align-items: center;

  &__image {
    max-height: 150px;
    max-width: 150px;
    margin: auto;

    img {
      border: solid 1px #777777;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }

    span {
      font-size: 16px;

      span {
        font-weight: bold;
      }
    }
  }

}


.ant-cascader-menu {
  height: 100%;
}


div#search_result {
  margin-top: 10%;
  font-size: 40px;
}