.categories {
    width: 500px;
    background-color: white;
    padding: 10px 0px 0px 10px;
    border: solid 1px rgb(173, 169, 169);

    &__list {
        padding: 0 10px;

        li {
            padding: 2px 0;
        }
    }
}

input {
    width: 100%;
    border: none;
    outline-color: none;
    background: rgb(40,40,40);
}

input:focus {
    outline: 0px solid rgb(40,40,40);
}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
}
.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: white;
    box-shadow:
            0 0.25em 0 0 white,
            0 0.5em 0 0 white;
}