.bg-image {
    background-size: cover;
    background-position: center;
    height: 1000px;

    .landing_logo {
        height: 34px;
        margin-top: 5px;
    }

    .landing_item {
        background-color: transparent;
        float: right;

        &:hover {
            border-bottom: solid 1px white;
        }

        * {
            color: white;
            font-weight: 600;
            font-size: 14px;
        }
    }

    #landing_header {
        color: white;
        font-family: Lato;
        font-size: 80px;
        font-weight: 900;
        text-align: center;
        margin-top: 344px;
    }
}