.header__logo {
    max-height: 50px;
    max-width: 50px;
    float: left;
}

img#product_image {
    width: 90%;
}

img#seller__image {
    height: 50px;
    width: 50px;
    border: dashed 1px black;
    border-radius: 50%;
}

div#seller__name {
    font-size: 35px;
}

h2#name {
    font-weight: 900;
    font-size: 35px;
}

#detail > div.ant-row {
    margin: 10px 0 10px 0;
}

.ant-row {
    margin-bottom: 25px;
}

.ant-btn-primary {
    width: 100%;
    border: solid 1px;
}

.ant-cascader-menu {
    height: 100%;
}

img.profile__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 50%;
}

div.profile__details {
    margin-top: 50px;
}

h2.profile__name {
    font-size: 45px;
    font-weight: 500;
}

div.profile__details > p.profile__stats {
    font-size: 25px;
}

div.profile__details > p.profile__stats > span {
    margin-right: 20px;
}