.header__logo {
    max-height: 50px;
    max-width: 50px;
    float: left;
}

img#product_image {
    width: 90%;
}

img#seller__image {
    height: 50px;
    width: 50px;
    border: dashed 1px black;
    border-radius: 50%;
}

div#seller__name {
    font-size: 35px;
}

h2#name {
    font-weight: 900;
    font-size: 35px;
}

#detail > div.ant-row {
    margin: 10px 0 10px 0;
}

.ant-row {
    margin-bottom: 10px;
    margin-top: 15px;
}

.ant-btn-primary {
    width: 100%;
    border: solid 1px;
}

.ant-cascader-menu {
    height: 100%;
}

div.profile__details {
    margin-top: 50px;
}

h2.profile__name {
    font-size: 45px;
    font-weight: 500;
}

div.profile__details > p.profile__stats {
    font-size: 20px;
}

div.profile__details > p.profile__stats > span {
    margin-right: 20px;
}

div#profile-img {
    width: 250px;
    height: 250px;
    border: solid 3px whitesmoke;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: auto;
}

img#search {
    width: 60%;
    height: 60%;
    padding: 10%;
    margin-left: 25%;
}

div#search_result {
    margin-top: 10%;
    font-size: 40px;
}