@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url(~bootstrap/dist/css/bootstrap.min.css);
@import url(~antd/dist/antd.css);
.bg-image {
  height: 100vh;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat; }
  .bg-image .landing_logo {
    height: 34px;
    margin-top: 5px; }
  .bg-image .landing_item {
    background-color: transparent;
    float: right; }
    .bg-image .landing_item:hover {
      border-bottom: solid 1px white; }
    .bg-image .landing_item * {
      color: white;
      font-weight: 600;
      font-size: 14px; }
  .bg-image #landing_header {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    margin-top: 344px; }

.product {
  font-family: 'Lato', sans-serif; }
  .product .ant-row {
    margin: 10px 0 10px 0; }
  .product .ant-tabs-ink-bar {
    background-color: #999999 !important; }
  .product .ant-tabs-nav .ant-tabs-tab-active {
    color: #777777 !important; }
  .product .ant-tabs-nav {
    color: #aaaaaa !important; }
  .product__image {
    width: 90%;
    margin: auto;
    min-height: 500px;
    background-size: cover;
    background-position: center; }
  .product__heart {
    background: white;
    font-size: 25px;
    border: none;
    float: right;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 3px 8px;
    border-radius: 50%;
    cursor: pointer; }
  .product__seller-name {
    font-size: 25px;
    font-weight: 400; }
    .product__seller-name span {
      font-size: 14px;
      display: block; }
  .product__seller-image {
    margin-top: 6px;
    max-height: 50px;
    max-width: 50px;
    border: solid 1px black;
    border-radius: 50%; }
  .product__name {
    font-size: 35px;
    margin-bottom: 0; }
  .product__price {
    font-size: 1.7rem;
    margin-top: 15px; }
  .product__overview {
    padding-left: 30px; }
    .product__overview li {
      line-height: 20px; }
  .product__add-to-cart {
    width: 95%;
    margin: auto;
    background-color: #3897f0 !important;
    border-color: #3897f0 !important; }
  .product__share {
    width: 95%;
    margin: auto;
    background-color: #3897f0 !important;
    border-color: #3897f0 !important; }

.profile {
  padding-top: 45px; }
  .profile__image {
    background-image: url("https://scontent-bom1-1.cdninstagram.com/vp/633748d19c49931c166948e7c6b05f65/5BFD73F1/t51.2885-19/s150x150/30086307_190554238405069_2778711456735035392_n.jpg");
    margin: auto;
    height: 170px;
    width: 170px;
    background-size: cover;
    background-position: center;
    border: solid 0 gray;
    border-radius: 50%; }
  .profile__info {
    font-size: 16px; }
    .profile__info h1 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 300; }
    .profile__info .stats {
      margin-top: 12px;
      margin-bottom: 12px; }
      .profile__info .stats .numbers {
        margin-right: 5%; }
        .profile__info .stats .numbers span {
          font-weight: bold; }
    .profile__info .tagline {
      margin-bottom: 0; }
    .profile__info div.button_group {
      margin-top: 15px; }
      .profile__info div.button_group button {
        width: 100px;
        margin: 0 10px 0 0;
        border: none;
        border-radius: 5px;
        padding: 2px 0;
        color: white;
        background-color: #3897f0;
        cursor: pointer; }
      .profile__info div.button_group button:hover {
        border: solid 1px gray; }
  .profile__details {
    margin-top: 1%; }
    .profile__details .ant-tabs-tab {
      color: #575757; }

#progress {
  padding: 30px 0 30px 0; }

.page_title {
  text-align: center;
  font-weight: 600;
  padding: 20px; }
  .page_title h2 {
    margin-bottom: 6px; }

.page_content {
  border: solid 1px #dcdcdc;
  padding: 40px 80px;
  background-color: white; }
  .page_content p#message {
    color: red;
    text-align: left; }
  .page_content p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0; }

#footer {
  border-top: solid 1px #cbccc9;
  position: fixed;
  height: 80px;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; }
  #footer button {
    font-size: 18px;
    color: white;
    background-color: #1d1d1d;
    border: none;
    font-weight: 800;
    padding: 8px; }
    #footer button:first-child {
      float: left;
      margin-top: 20px;
      margin-left: 100px; }
    #footer button:last-child {
      float: right;
      margin: 20px 100px auto auto; }

.gst input {
  display: inline; }

.cart_title {
  font-weight: 600;
  padding: 20px 0; }
  .cart_title h2 {
    margin-bottom: 0; }

.cart_content {
  margin-bottom: 20px;
  border: solid 1px #dcdcdc;
  padding: 40px 20px;
  background-color: white; }

.checkout .total {
  display: flex;
  justify-content: space-between;
  font-size: 16px; }

.checkout button {
  width: 100%;
  color: white;
  background-color: black;
  border: none;
  letter-spacing: 0px; }

.item {
  padding: 20px 0;
  margin: 0 20px 10px 0;
  border-bottom: solid 1px #1513131c; }
  .item img {
    width: 80%;
    margin: 0 10% 0 10%; }
  .item .item_title {
    display: flex;
    justify-content: space-between;
    font-size: 18px; }
    .item .item_title #name {
      color: black;
      font-weight: 500;
      letter-spacing: 0; }
    .item .item_title #price {
      display: inline; }

.left_part {
  border-right: solid 1px #1513131c; }

#feed {
  display: flex;
  align-items: center;
  flex-direction: column; }

#feed .photo {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 65px; }

.photo .photo__header {
  padding: 15px;
  display: flex;
  align-items: center; }

.photo__header .photo__avatar {
  width: 32px;
  border-radius: 50%;
  margin-right: 10px; }

.photo .photo__user-info .photo__author {
  display: block;
  font-weight: 600;
  margin-bottom: 5px; }

.photo > img {
  max-width: 100%; }

.photo .photo__info {
  padding: 15px 20px; }

.photo__actions {
  margin-bottom: 15px;
  font-size: 115%; }

.photo__actions .photo__action:first-child {
  margin-right: 15px; }

.photo__actions .photo__action {
  cursor: pointer; }

.photo .photo__likes {
  font-weight: 600;
  margin-bottom: 10px;
  display: block; }

.photo .photo__add-comment-container {
  margin-top: 15px;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.photo__add-comment-container textarea {
  width: 90%;
  border: 0;
  font-size: 14px;
  resize: none;
  height: 20px; }

.photo__add-comment-container textarea:focus,
.photo__add-comment-container textarea:active {
  outline: none; }

.photo__add-comment-container i {
  cursor: pointer; }

.photo .photo__time-ago {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  margin-top: 10px;
  display: block; }

.photo__comment {
  margin-bottom: 10px; }

.photo__comments .photo__comment-author {
  font-weight: 600; }

ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

.checkout_form {
  padding: 0 20px; }
  .checkout_form * {
    display: block; }
  .checkout_form input {
    border: solid 1px #b4b4b4;
    box-shadow: none;
    width: 100%;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 16px;
    padding: 5px; }
  .checkout_form label {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold; }

.form_content {
  border: solid 1px #dcdcdc;
  padding: 30px;
  background-color: white; }

.form_title {
  text-align: center;
  font-weight: 600;
  padding: 20px 20px 0 20px; }
  .form_title h2 {
    margin-bottom: 0; }

.submit_btn {
  border: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 36px;
  font-size: 18px;
  background: black;
  color: white;
  font-weight: 600; }

.navbar_container {
  border-bottom: 1px solid #c8c8c8; }
  .navbar_container ul.nav_bar {
    margin: 0.8rem 0; }

.container_320 {
  padding: 0 42rem; }

.container_160 {
  padding: 0 26rem; }

.container_80 {
  padding: 0 13rem; }

.container_40 {
  padding: 0 6.5rem; }

.container_20 {
  padding: 0 1rem; }

.banner {
  width: 100%; }

.information {
  margin-top: 10px; }

.bg-grey {
  background-color: #fafafa !important; }

.search-result {
  padding: 50px 0;
  display: flex !important;
  align-items: center; }
  .search-result__image {
    max-height: 150px;
    max-width: 150px;
    margin: auto; }
    .search-result__image img {
      border: solid 1px #777777;
      border-radius: 50%;
      width: 100%;
      height: 100%; }
  .search-result__text h1 {
    font-size: 32px;
    line-height: 40px; }
  .search-result__text span {
    font-size: 16px; }
    .search-result__text span span {
      font-weight: bold; }

.ant-cascader-menu {
  height: 100%; }

div#search_result {
  margin-top: 10%;
  font-size: 40px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.main {
  min-height: 500px; }

.nav_bar {
  padding: 0; }

.userName {
  position: absolute;
  top: 21px;
  left: 28px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.nav_bar li {
  display: inline-block;
  padding: 10px; }

.nav_bar li a, .nav_bar li {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 13px;
  letter-spacing: 2px; }

.nav_bar li a:hover, .nav_bar li:hover {
  cursor: pointer;
  font-weight: 900; }

.active {
  font-weight: 900;
  background-color: white; }

.title {
  margin: 30px 0 0 20px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  letter-spacing: 0.6em; }

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  text-align: center; }
  .products .product {
    width: 20%; }
    .products .product .image-container {
      margin: 10px; }
    .products .product img {
      width: 100%; }

.each_product {
  width: 330px;
  padding: 10px; }

.footer {
  padding: 20px; }

.footer p {
  clear: both;
  letter-spacing: 1px;
  max-width: 880px;
  width: 100%;
  text-align: center;
  margin: 100px auto;
  line-height: 25px; }

.product-image, .product-info {
  float: left;
  width: 43%;
  margin-top: 20px; }

.product-image {
  margin-right: 50px; }

.product-image img {
  width: 100%; }

.details {
  max-width: 960px;
  width: 100%;
  height: 400px;
  margin: 60px auto; }

.details h2 {
  font-weight: 400;
  letter-spacing: 1.2px; }

.details p, li {
  letter-spacing: 1.2px;
  line-height: 30px; }

.add-cart {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 400;
  font-size: 13px; }

.add-cart:hover, .login button:hover, .confirmButton:hover, .checkout button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8); }

.login {
  text-align: center;
  letter-spacing: 1px; }

.login input {
  margin-top: 29px;
  padding: 5px;
  width: 200px;
  margin-right: 20px;
  letter-spacing: 1px; }

.login button, .signUp button, .shoppingCart button {
  width: 109px;
  height: 32px;
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 11px; }

.signUp button {
  width: 100%;
  height: 40px;
  font-size: 15px;
  letter-spacing: 5px; }

.signUp {
  margin: 60px auto;
  width: 400px; }

.signUp input {
  padding: 5px;
  border-radius: 0;
  letter-spacing: 1px; }

label {
  font-weight: 300; }

.shoppingCart, table {
  max-width: 800px;
  width: 100%;
  margin: 50px auto; }

.cartHeading {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px; }

.cartImage {
  width: 100px; }

tr {
  border-bottom: 1px solid #dcdee2; }

th, td, tr {
  font-size: 16px;
  padding: 15px 0;
  width: 200px; }

.deleteCol {
  width: 5px; }

.deleteCol:hover {
  color: red;
  cursor: pointer; }

.tableHeaders th {
  font-weight: 700;
  font-size: 12px; }

.shoppingCart button {
  float: right;
  width: 200px;
  height: 40px;
  margin-top: 30px;
  font-size: 14px;
  letter-spacing: 5px; }

.thumbsUp {
  display: block;
  margin: 75px auto;
  width: 75px; }

.thanks {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px; }

.checkout button {
  width: 100%;
  height: 40px;
  font-size: 15px;
  letter-spacing: 5px; }

.confirmButton a {
  text-decoration: none;
  color: white; }

.billing, .shipping {
  width: 300px;
  display: inline-block;
  margin-right: 20px; }

.formHeader {
  letter-spacing: 1px;
  margin-bottom: 20px; }

.addressForms {
  max-width: 644px;
  width: 100%;
  margin: 0 auto; }

.message {
  font-weight: 400;
  color: red; }

.atn-btn {
  letter-spacing: 2px; }

@media screen and (max-width: 960px) {
  .product-image, .product-info {
    width: 100%;
    padding: 30px; }
  .product-image {
    text-align: center; }
  .product-image img {
    text-align: center;
    max-width: 400px; }
  .signUp {
    padding: 24px; } }
