@import url(../node_modules/antd/dist/antd.css);
@import url(../node_modules/react-quill/dist/quill.snow.css);
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
.admin-panel .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px; }

.ant-card.grey-header .ant-card-head {
  background: #f9f9f9 !important; }

.add_listing button {
  border: none;
  cursor: pointer;
  padding: 1px 10px;
  background-color: transparent;
  font-size: 32px; }

.new_product_form .label-container {
  display: inline-block;
  text-align: left;
  position: relative; }
  .new_product_form .label-container small {
    word-wrap: normal; }

.new_product_form .label-container:before {
  display: inline-block;
  position: absolute;
  left: -10cpx;
  content: "*";
  font-family: SimSun;
  line-height: 1;
  font-size: 14px;
  color: #f5222d; }

#progress {
  padding: 30px 0 30px 0; }

.page_title {
  text-align: center;
  font-weight: 600;
  padding: 20px; }
  .page_title h2 {
    margin-bottom: 6px;
    font-size: 32px; }

.page_content {
  border: solid 1px #dcdcdc;
  padding: 40px 80px;
  background-color: white; }
  .page_content p#message {
    color: red;
    text-align: left; }
  .page_content p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0; }

#footer {
  border-top: solid 1px #cbccc9;
  position: fixed;
  height: 80px;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; }
  #footer button {
    font-size: 18px;
    color: white;
    background-color: #1d1d1d;
    border: none;
    font-weight: 800;
    padding: 8px; }
    #footer button:first-child {
      float: left;
      margin-top: 20px;
      margin-left: 100px; }
    #footer button:last-child {
      float: right;
      margin: 20px 100px auto auto; }

.gst input {
  display: inline; }

.status {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: solid 0.5px black;
  margin: auto; }
  .status--success {
    background-color: #2dcc2d; }

.header {
  width: 100%;
  background: white;
  margin-bottom: 10px;
  padding: 12px 40px; }
  .header__brand {
    display: inline;
    font-weight: 600; }
    .header__brand img {
      height: 36px; }
  .header__item {
    float: right;
    font-size: 20px;
    padding-top: 8px;
    line-height: 20px;
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.781); }

.login_form {
  padding: 0 20px;
  margin: 60px 32% 10px 32%; }
  .login_form input {
    border: solid 1px #b4b4b4;
    box-shadow: none;
    width: 100%;
    line-height: 25px;
    font-size: 16px;
    padding: 5px; }

.form_content {
  border: solid 1px #dcdcdc;
  padding: 30px;
  background-color: white;
  margin-bottom: 20px; }

.form_title {
  text-align: center; }
  .form_title h1 {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 800; }

.submit_btn {
  border: none;
  width: 100%;
  height: 36px;
  font-size: 18px;
  background: black;
  color: white;
  font-weight: 600; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fafafa; }

main {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px; }

.container_80 {
  padding: 0 13rem; }
