@import url(../node_modules/antd/dist/antd.css);
@import url(../node_modules/react-quill/dist/quill.snow.css);
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
.admin-panel .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px; }

.ant-card.grey-header .ant-card-head {
  background: #f9f9f9 !important; }

.add_listing button {
  border: none;
  cursor: pointer;
  padding: 1px 10px;
  background-color: transparent;
  font-size: 32px; }

.new_product_form .label-container {
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 15px; }
  .new_product_form .label-container div {
    font-weight: 700; }
  .new_product_form .label-container small {
    word-wrap: normal; }

.new_product_form .label-container:before {
  display: inline-block;
  position: absolute;
  left: -7px;
  content: "*";
  font-family: SimSun;
  line-height: 1;
  font-size: 14px;
  color: #f5222d; }

.new_product_form .custom_input .label {
  margin-right: 10px;
  text-align: right; }

#progress {
  padding: 30px 0 30px 0; }

.page_title {
  text-align: center;
  font-weight: 600;
  padding: 20px; }
  .page_title h2 {
    margin-bottom: 6px;
    font-size: 32px; }

.page_content {
  border: solid 1px #dcdcdc;
  padding: 40px 80px;
  background-color: white; }
  .page_content p#message {
    color: red;
    text-align: left; }
  .page_content p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0; }

#footer {
  border-top: solid 1px #cbccc9;
  position: fixed;
  height: 80px;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; }
  #footer button {
    font-size: 18px;
    color: white;
    background-color: #1d1d1d;
    border: none;
    font-weight: 800;
    padding: 8px; }
    #footer button:disabled {
      background-color: #1d1d1d88; }
    #footer button:first-child {
      float: left;
      margin-top: 20px;
      margin-left: 100px; }
    #footer button:last-child {
      float: right;
      margin: 20px 100px auto auto; }

.gst input {
  display: inline; }

.status {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: solid 0.5px black;
  margin: auto; }
  .status--success {
    background-color: #2dcc2d; }

.header {
  width: 100%;
  background: white;
  margin-bottom: 10px;
  padding: 12px 40px; }
  .header__brand {
    display: inline;
    font-weight: 600; }
    .header__brand img {
      height: 36px; }
  .header__item {
    float: right;
    font-size: 20px;
    padding-top: 8px;
    line-height: 20px;
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.781); }

.login_form {
  padding: 0 20px;
  margin: 60px 32% 10px 32%; }
  .login_form input {
    border: solid 1px #b4b4b4;
    box-shadow: none;
    width: 100%;
    line-height: 25px;
    font-size: 16px;
    padding: 5px; }

.form_content {
  border: solid 1px #dcdcdc;
  padding: 30px;
  background-color: white;
  margin-bottom: 20px; }

.form_title {
  text-align: center; }
  .form_title h1 {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 800; }

.submit_btn {
  border: none;
  width: 100%;
  height: 36px;
  font-size: 18px;
  background: black;
  color: white;
  font-weight: 600; }

.chart-card_header {
  font-size: 14px;
  font-weight: 300;
  padding: 5px;
  display: flex; }

.chart-card_title {
  width: 90%;
  float: left; }

.chart-card_info {
  width: 10%;
  float: right; }

.chart-card_body {
  padding: 5px; }

.chart-card_stat {
  font-size: 30px; }

*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #00b0ff; }

.wrapper {
  height: 75vh; }

.container {
  height: 100%;
  background-color: var(--white); }
  .container .left {
    float: left;
    width: 37.6%;
    height: 100%;
    border: 1px solid var(--light);
    background-color: var(--white); }
    .container .left .top {
      position: relative;
      width: 100%;
      height: 96px;
      padding: 29px; }
      .container .left .top:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 80%;
        height: 1px;
        content: '';
        background-color: var(--light);
        transform: translate(-50%, 0); }
    .container .left input {
      float: left;
      width: 188px;
      height: 42px;
      padding: 0 15px;
      border: 1px solid var(--light);
      background-color: #eceff1;
      border-radius: 21px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400; }
      .container .left input:focus {
        outline: none; }
    .container .left a.search {
      display: block;
      float: left;
      width: 42px;
      height: 42px;
      margin-left: 10px;
      border: 1px solid var(--light);
      background-color: var(--blue);
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
      background-repeat: no-repeat;
      background-position: top 12px left 14px;
      border-radius: 50%; }
    .container .left .people {
      margin-left: -1px;
      border-right: 1px solid var(--light);
      border-left: 1px solid var(--light);
      width: calc(100% + 2px); }
      .container .left .people .person {
        position: relative;
        width: 100%;
        padding: 12px 10% 16px;
        cursor: pointer;
        background-color: var(--white); }
        .container .left .people .person:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 80%;
          height: 1px;
          content: '';
          background-color: var(--light);
          transform: translate(-50%, 0); }
        .container .left .people .person img {
          float: left;
          width: 40px;
          height: 40px;
          margin-right: 12px;
          border-radius: 50%; }
        .container .left .people .person .name {
          font-size: 14px;
          line-height: 22px;
          color: var(--dark);
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 600; }
        .container .left .people .person .time {
          font-size: 14px;
          position: absolute;
          top: 16px;
          right: 10%;
          padding: 0 0 5px 5px;
          color: var(--grey);
          background-color: var(--white); }
        .container .left .people .person .preview {
          font-size: 14px;
          display: block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--grey); }
        .container .left .people .person.active, .container .left .people .person:hover {
          margin-top: -1px;
          margin-left: -1px;
          padding-top: 13px;
          border: 0;
          background-color: var(--blue);
          width: calc(100% + 2px);
          padding-left: calc(10% + 1px); }
          .container .left .people .person.active span, .container .left .people .person:hover span {
            color: var(--white);
            background: transparent; }
          .container .left .people .person.active:after, .container .left .people .person:hover:after {
            display: none; }
  .container .right {
    position: relative;
    float: left;
    width: 62.4%;
    height: 100%; }
    .container .right .top {
      width: 100%;
      height: 47px;
      padding: 15px 29px;
      background-color: #eceff1; }
      .container .right .top span {
        font-size: 15px;
        color: var(--grey); }
        .container .right .top span .name {
          color: var(--dark);
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 600; }
    .container .right .chat {
      position: relative;
      display: none;
      overflow: hidden;
      padding: 0 35px 92px;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: var(--light);
      height: calc(100% - 48px);
      justify-content: flex-end;
      flex-direction: column; }
      .container .right .chat.active-chat {
        display: block;
        display: flex; }
        .container .right .chat.active-chat .bubble {
          transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1); }
          .container .right .chat.active-chat .bubble:nth-of-type(1) {
            animation-duration: 0.15s; }
          .container .right .chat.active-chat .bubble:nth-of-type(2) {
            animation-duration: 0.3s; }
          .container .right .chat.active-chat .bubble:nth-of-type(3) {
            animation-duration: 0.45s; }
          .container .right .chat.active-chat .bubble:nth-of-type(4) {
            animation-duration: 0.6s; }
          .container .right .chat.active-chat .bubble:nth-of-type(5) {
            animation-duration: 0.75s; }
          .container .right .chat.active-chat .bubble:nth-of-type(6) {
            animation-duration: 0.9s; }
          .container .right .chat.active-chat .bubble:nth-of-type(7) {
            animation-duration: 1.05s; }
          .container .right .chat.active-chat .bubble:nth-of-type(8) {
            animation-duration: 1.2s; }
          .container .right .chat.active-chat .bubble:nth-of-type(9) {
            animation-duration: 1.35s; }
          .container .right .chat.active-chat .bubble:nth-of-type(10) {
            animation-duration: 1.5s; }
    .container .right .write {
      position: absolute;
      bottom: 29px;
      left: 30px;
      height: 42px;
      padding-left: 8px;
      border: 1px solid var(--light);
      background-color: #eceff1;
      width: calc(100% - 58px);
      border-radius: 5px; }
      .container .right .write input {
        font-size: 16px;
        float: left;
        width: 80%;
        height: 40px;
        padding: 0 10px;
        color: var(--dark);
        border: 0;
        outline: none;
        background-color: #eceff1;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400; }
      .container .right .write .write-link.attach:before {
        display: inline-block;
        float: left;
        width: 20px;
        height: 42px;
        content: '';
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png");
        background-repeat: no-repeat;
        background-position: center; }
      .container .right .write .write-link.smiley:before {
        display: inline-block;
        float: right;
        width: 20px;
        height: 42px;
        margin-right: 11px;
        content: '';
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
        background-repeat: no-repeat;
        background-position: center; }
      .container .right .write .write-link.send:before {
        display: inline-block;
        float: right;
        width: 20px;
        height: 42px;
        margin-right: 11px;
        content: '';
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
        background-repeat: no-repeat;
        background-position: center; }
    .container .right .bubble {
      font-size: 16px;
      position: relative;
      display: inline-block;
      clear: both;
      margin-bottom: 8px;
      padding: 13px 14px;
      vertical-align: top;
      border-radius: 5px; }
      .container .right .bubble:before {
        position: absolute;
        top: 19px;
        display: block;
        width: 8px;
        height: 6px;
        content: '\00a0';
        transform: rotate(29deg) skew(-35deg); }
      .container .right .bubble.you {
        float: left;
        color: var(--white);
        background-color: var(--blue);
        align-self: flex-start;
        animation-name: slideFromLeft; }
        .container .right .bubble.you:before {
          left: -3px;
          background-color: var(--blue); }
      .container .right .bubble.me {
        float: right;
        color: var(--dark);
        background-color: #eceff1;
        align-self: flex-end;
        animation-name: slideFromRight; }
        .container .right .bubble.me:before {
          right: -3px;
          background-color: #eceff1; }
    .container .right .conversation-start {
      position: relative;
      width: 100%;
      margin-bottom: 27px;
      text-align: center; }
      .container .right .conversation-start span {
        font-size: 14px;
        display: inline-block;
        color: var(--grey); }
        .container .right .conversation-start span:before, .container .right .conversation-start span:after {
          position: absolute;
          top: 10px;
          display: inline-block;
          width: 30%;
          height: 1px;
          content: '';
          background-color: var(--light); }
        .container .right .conversation-start span:before {
          left: 0; }
        .container .right .conversation-start span:after {
          right: 0; }

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }

@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }

@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0; }
  100% {
    margin-right: 0;
    opacity: 1; } }

@-webkit-keyframes slideFromRights {
  0% {
    margin-right: -200px;
    opacity: 0; }
  100% {
    margin-right: 0;
    opacity: 1; } }

.profile {
  padding-top: 45px; }
  .profile .ant-tabs-bar {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 32px; }
  .profile__image {
    background-image: url("https://scontent-bom1-1.cdninstagram.com/vp/633748d19c49931c166948e7c6b05f65/5BFD73F1/t51.2885-19/s150x150/30086307_190554238405069_2778711456735035392_n.jpg");
    margin: auto;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50%; }
  .profile__info {
    font-size: 16px;
    margin-top: 2.5rem; }
    .profile__info h1 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 500;
      margin-bottom: 8px; }
    .profile__info .stats {
      margin-top: 12px;
      margin-bottom: 12px; }
      .profile__info .stats .numbers {
        margin-right: 5%; }
        .profile__info .stats .numbers span {
          font-weight: bold; }
    .profile__info .tagline {
      margin-bottom: 0;
      width: 50%; }
    .profile__info div.button_group {
      display: inline-block;
      position: relative;
      left: 15px;
      top: -7px; }
      .profile__info div.button_group button {
        width: 100px;
        margin: 0 10px 0 0;
        border: none;
        border-radius: 3px;
        padding: 2px 0;
        color: white;
        background-color: #282828;
        cursor: pointer; }
      .profile__info div.button_group button:hover {
        border: solid 1px gray; }
  .profile__details {
    margin-top: 1%; }
    .profile__details .ant-tabs-tab {
      color: #575757; }

.account_private {
  padding: 50px 0px;
  margin-top: 30px;
  background-color: white;
  text-align: center; }
  .account_private__header {
    font-weight: 500;
    font-size: 1rem;
    margin: 20px 0; }
  .account_private__content {
    font-weight: 300;
    font-size: 0.8rem; }

.navigate {
  text-align: center;
  font-size: 22px;
  width: 100%;
  margin: 10px auto 15px auto; }
  .navigate--sticky {
    position: fixed;
    top: 0; }
  .navigate__items {
    background: white;
    padding: 0; }
    .navigate__items div > a:first-child > div {
      border-right: #fafafa 2px solid; }
    .navigate__items div > a:nth-child(2) > div {
      border-left: #fafafa 2px solid; }
    .navigate__items div > a > div {
      cursor: pointer;
      padding: 8px;
      border-bottom: solid 2px white;
      color: black; }
      .navigate__items div > a > div:hover {
        border-bottom: solid 2px gray; }

ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

#feed {
  clear: both;
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #feed ul, #feed ol {
    list-style: none; }

#feed .photo {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 65px; }

.photo__icon {
  margin-left: 5px;
  margin-right: 5px; }

.photo__image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative; }
  .photo__image__layer {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 100%;
    opacity: 0;
    background: #48daa1; }
  .photo__image__view-details {
    position: absolute;
    top: 112px;
    left: 50%;
    margin-left: -85px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    width: 172px;
    opacity: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    .photo__image__view-details:hover {
      background: #fff;
      color: #48cfad;
      cursor: pointer; }
  .photo__image__overlay {
    transition: all 200ms ease-out;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 27px 35px 35px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.95); }
    .photo__image__overlay__name {
      font-size: 22px;
      color: #393c45; }
    .photo__image__overlay__price {
      float: right;
      color: #48cfad;
      font-size: 22px;
      font-weight: 600; }
    .photo__image__overlay__colors div {
      margin-top: 3px;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      float: left; }
    .photo__image__overlay__colors div span {
      width: 15px;
      height: 15px;
      display: block;
      border-radius: 50%; }
    .photo__image__overlay__colors div span:hover {
      width: 17px;
      height: 17px;
      margin: -1px 0 0 -1px; }
    .photo__image__overlay__colors div.c-blue span {
      background: #6e8cd5; }
    .photo__image__overlay__colors div.c-red span {
      background: #f56060; }
    .photo__image__overlay__colors div.c-green span {
      background: #44c28d; }
    .photo__image__overlay__colors div.c-white span {
      background: #fff;
      width: 14px;
      height: 14px;
      border: 1px solid #e8e9eb; }
    .photo__image__overlay__options {
      padding: 2px 0 0; }
      .photo__image__overlay__options strong {
        font-weight: 700;
        color: #393c45;
        font-size: 14px; }
      .photo__image__overlay__options span {
        color: #969699;
        font-size: 14px;
        display: block;
        margin-bottom: 8px; }

.photo .animate .photo__image__overlay {
  height: 220px; }

.photo .animate .photo__image__layer {
  opacity: 0.7; }

.photo .animate .photo__image__view-details {
  opacity: 1;
  width: 152px;
  font-size: 15px;
  top: 50%; }

.photo .photo__header {
  padding: 15px;
  display: flex;
  align-items: center; }

.photo__header .photo__avatar {
  width: 32px;
  border-radius: 50%;
  margin-right: 10px; }

.photo .photo__user-info .photo__author {
  display: block;
  font-weight: 600;
  margin-bottom: 5px; }

.photo .photo__info {
  padding: 15px 20px; }

.photo__actions {
  margin-bottom: 15px;
  font-size: 115%; }

.photo__actions .photo__action:first-child {
  margin-right: 15px; }

.photo__actions .photo__action {
  cursor: pointer; }

.photo__save {
  border: 2px solid black;
  padding: 3px 32px;
  font-weight: 600; }

.photo .photo__likes {
  font-weight: 600;
  margin-bottom: 10px;
  display: block; }

.photo .photo__add-comment-container {
  margin-top: 15px;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.photo__add-comment-container textarea {
  width: 90%;
  border: 0;
  font-size: 14px;
  resize: none;
  height: 20px;
  overflow: hidden; }

.photo__add-comment-container textarea:focus,
.photo__add-comment-container textarea:active {
  outline: none; }

.photo__add-comment-container i {
  cursor: pointer;
  margin-right: 5px; }

.photo .photo__time-ago {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  margin-top: 10px;
  display: block; }

.photo__comments .photo__comment-author {
  font-weight: 500; }

.photo__image__pointer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 15px;
  background-color: white;
  height: 30px;
  line-height: 20px;
  border-radius: 15px; }
  .photo__image__pointer span {
    margin-left: 5px; }
  .photo__image__pointer i {
    font-weight: bold; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fafafa; }

main {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px; }

.container_80 {
  padding: 0 13rem; }

.ant-layout-header {
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75); }
