@import '../node_modules/antd/dist/antd.css';
@import '../node_modules/react-quill/dist/quill.snow.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './styles/container';
@import './styles/newProduct';
@import './styles/sellerNew';
@import './styles/order';
@import './styles/header';
@import './styles/login';
@import './styles/chartCard';
@import './styles/chat';
@import './styles/profile';
@import './styles/feed';
@import './styles/mainPage';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fafafa
}

main {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.container_80 {
  padding: 0 13rem;
}

.ant-layout-header {
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}
