.admin-panel {
    .logo {
        height: 32px;
        background: rgba(255, 255, 255, .2);
        margin: 16px;
    }
}

.ant-card.grey-header {
    .ant-card-head {
        background: #f9f9f9 !important;
    }
}

.add_listing {
    button {
        border: none;
        cursor: pointer;
        padding: 1px 10px;
        background-color: transparent;
        font-size: 32px;
    }
}

.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  
  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }

  .ant-upload{
    margin-bottom: 20px
  }