@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600");
@import url(../node_modules/react-quill/dist/quill.snow.css);
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../node_modules/font-awesome/css/font-awesome.min.css);
@import url(../node_modules/react-router-modal/css/react-router-modal.css);
@import url(../node_modules/antd/dist/antd.css);
.categories {
  width: 500px;
  background-color: white;
  padding: 10px 0px 0px 10px;
  border: solid 1px #ada9a9; }
  .categories__list {
    padding: 0 10px; }
    .categories__list li {
      padding: 2px 0; }

.navbar_container input {
  width: 90%;
  border: none;
  outline-color: none;
  background: #282828; }

.navbar_container input:focus {
  outline: 0px solid #282828; }

.search_cancel {
  color: #525252;
  border: none;
  background-color: #282828;
  display: inline-block;
  cursor: pointer;
  width: 10%; }
  .search_cancel:focus {
    ouline: none; }

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em; }

.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white; }

.mobile_header {
  width: 100%; }
  .mobile_header * {
    display: inline-block;
    color: white; }
  .mobile_header .icons {
    margin: 0;
    float: right; }
    .mobile_header .icons button {
      color: #525252;
      float: right; }
  .mobile_header .brand {
    color: white;
    font-size: 24px;
    font-weight: 800;
    margin-left: 30px; }
  .mobile_header input {
    width: 80%;
    display: inline; }
  .mobile_header button {
    float: left; }
  .mobile_header div {
    margin: 5px 7px 0 7px;
    color: white; }

.nav-item {
  margin-top: 1px;
  color: white; }
  .nav-item a {
    color: white; }

.nav-item:first-child {
  margin-top: 5px; }

.notification span {
  color: black;
  margin: 10px;
  font-size: 18px; }

.notification div.ant-col-20 {
  padding: 5px 10px; }

.bg-image {
  height: 100vh;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat; }
  .bg-image .landing_logo {
    height: 34px;
    margin-top: 5px; }
  .bg-image .landing_item {
    background-color: transparent;
    float: right;
    color: white;
    font-weight: 600;
    font-size: 14px; }
    .bg-image .landing_item:hover {
      border-bottom: solid 1px white; }
  .bg-image #landing_header {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    margin-top: 344px; }

.sign_up__card {
  margin-top: 50px !important;
  padding-top: 50px !important; }
  .sign_up__card .form_content {
    border: none; }

.product {
  font-family: 'Lato', sans-serif; }
  .product h5 {
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0; }
  .product .ant-tabs-ink-bar {
    background-color: #999999 !important; }
  .product .ant-tabs-nav .ant-tabs-tab-active {
    color: #777777 !important; }
  .product .ant-tabs-nav {
    color: #aaaaaa !important; }
  .product__container {
    padding: 20px; }
  .product__image {
    width: 90%;
    margin: auto;
    min-height: 500px;
    background-size: cover;
    background-position: center; }
  .product__heart {
    background: white;
    font-size: 25px;
    border: none;
    float: right;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 3px 8px;
    border-radius: 50%;
    cursor: pointer; }
  .product__seller {
    display: inline-block; }
  .product__seller-name {
    font-size: 25px;
    font-weight: 400; }
    .product__seller-name span {
      font-size: 14px;
      display: block; }
  .product__seller-image {
    max-height: 50px;
    max-width: 50px;
    border: solid 1px black;
    border-radius: 50%; }
  .product__name {
    font-size: 30px;
    margin-bottom: 0; }
  .product__size div:first-child {
    margin-bottom: 5px; }
  .product__quantity {
    margin-top: -2px; }
    .product__quantity div:first-child {
      margin-bottom: 5px; }
  .product__price {
    margin-bottom: 0;
    font-size: 23px;
    margin-top: 18px; }
  .product__overview {
    padding-left: 18px; }
  .product__add-to-cart {
    width: 95%;
    margin: auto;
    background-color: #3897f0 !important;
    border-color: #3897f0 !important; }
  .product__share {
    width: 95%;
    margin: auto;
    background-color: #3897f0 !important;
    border-color: #3897f0 !important; }

.profile {
  padding-top: 45px; }
  .profile .ant-tabs-bar {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 32px; }
  .profile__image {
    background-image: url("https://scontent-bom1-1.cdninstagram.com/vp/633748d19c49931c166948e7c6b05f65/5BFD73F1/t51.2885-19/s150x150/30086307_190554238405069_2778711456735035392_n.jpg");
    margin: auto;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50%; }
  .profile__info {
    font-size: 16px;
    margin-top: 2.5rem; }
    .profile__info h1 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 500;
      margin-bottom: 8px; }
    .profile__info .stats {
      margin-top: 12px;
      margin-bottom: 12px; }
      .profile__info .stats .numbers {
        margin-right: 5%; }
        .profile__info .stats .numbers span {
          font-weight: bold; }
    .profile__info .tagline {
      margin-bottom: 0;
      width: 50%; }
    .profile__info div.button_group {
      display: inline-block;
      position: relative;
      left: 15px;
      top: -7px; }
      .profile__info div.button_group button {
        width: 100px;
        margin: 0 10px 0 0;
        border: none;
        border-radius: 3px;
        padding: 2px 0;
        color: white;
        background-color: #282828;
        cursor: pointer; }
      .profile__info div.button_group button:hover {
        border: solid 1px gray; }
  .profile__details {
    margin-top: 1%; }
    .profile__details .ant-tabs-tab {
      color: #575757; }

.account_private {
  padding: 50px 0px;
  margin-top: 30px;
  background-color: white;
  text-align: center; }
  .account_private__header {
    font-weight: 500;
    font-size: 1rem;
    margin: 20px 0; }
  .account_private__content {
    font-weight: 300;
    font-size: 0.8rem; }

#progress {
  padding: 30px 0 30px 0; }

.page_title {
  text-align: center;
  font-weight: 600;
  padding: 20px; }
  .page_title h2 {
    margin-bottom: 6px; }

.page_content {
  border: solid 1px #dcdcdc;
  padding: 40px 80px;
  background-color: white; }
  .page_content p#message {
    color: red;
    text-align: left; }
  .page_content p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0; }

#footer {
  border-top: solid 1px #cbccc9;
  position: fixed;
  height: 80px;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; }
  #footer button {
    font-size: 18px;
    color: white;
    background-color: #1d1d1d;
    border: none;
    font-weight: 800;
    padding: 8px; }
    #footer button:first-child {
      float: left;
      margin-top: 20px;
      margin-left: 100px; }
    #footer button:last-child {
      float: right;
      margin: 20px 100px auto auto; }

.gst input {
  display: inline; }

.cart_title {
  padding: 20px 20px 0 20px; }
  .cart_title h3 {
    margin-bottom: 5px;
    font-weight: 400 !important;
    font-size: 25px; }
  .cart_title p {
    font-weight: 400; }

.cart_content {
  margin-bottom: 20px;
  margin-top: 20px;
  border: solid 1px #dcdcdc;
  padding: 0px 20px 40px 20px;
  background-color: white; }

.checkout {
  margin-top: 10px; }
  .checkout .checkout_address h4 {
    font-weight: 400;
    font-size: 20px; }
  .checkout .total {
    display: flex;
    justify-content: space-between;
    font-size: 16px; }

.item {
  padding-bottom: 20px;
  margin: 0 20px 10px 0;
  border-bottom: solid 1px #1513131c; }
  .item_seller {
    padding: 10px 20px;
    display: block;
    clear: both; }
    .item_seller_image {
      width: 40px;
      display: inline-block; }
  .item img {
    width: 80%;
    margin: 0 10% 0 10%; }
  .item .item_title {
    display: flex;
    justify-content: space-between;
    font-size: 18px; }
    .item .item_title_name {
      color: black;
      font-weight: 500;
      letter-spacing: 0; }
    .item .item_title_price {
      display: inline;
      font-weight: 500; }

.item:last-of-type {
  border: none; }

.left_part {
  border-right: solid 1px #1513131c; }

.navigate {
  text-align: center;
  font-size: 22px;
  width: 100%;
  margin: 10px auto 15px auto; }
  .navigate--sticky {
    position: fixed;
    top: 0; }
  .navigate__items {
    background: white;
    padding: 0; }
    .navigate__items div > a:first-child > div {
      border-right: #fafafa 2px solid; }
    .navigate__items div > a:nth-child(2) > div {
      border-left: #fafafa 2px solid; }
    .navigate__items div > a > div {
      cursor: pointer;
      padding: 8px;
      border-bottom: solid 2px white;
      color: black; }
      .navigate__items div > a > div:hover {
        border-bottom: solid 2px gray; }

ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

#feed {
  clear: both;
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #feed ul, #feed ol {
    list-style: none; }

#feed .photo {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 65px; }

.photo__icon {
  margin-left: 5px;
  margin-right: 5px; }

.photo__image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  /* 1:1 Aspect Ratio */
  position: relative; }
  .photo__image img {
    max-width: 100%; }
  .photo__image__layer {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 100%;
    opacity: 0;
    background: #48daa1; }
  .photo__image__view-details {
    position: absolute;
    top: 112px;
    left: 50%;
    margin-left: -85px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    width: 172px;
    opacity: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    .photo__image__view-details:hover {
      background: #fff;
      color: #48cfad;
      cursor: pointer; }
  .photo__image__overlay {
    transition: all 200ms ease-out;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 27px 35px 35px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.95); }
    .photo__image__overlay__name {
      font-size: 22px;
      color: #393c45; }
    .photo__image__overlay__price {
      float: right;
      color: #48cfad;
      font-size: 22px;
      font-weight: 600; }
    .photo__image__overlay__colors div {
      margin-top: 3px;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      float: left; }
    .photo__image__overlay__colors div span {
      width: 15px;
      height: 15px;
      display: block;
      border-radius: 50%; }
    .photo__image__overlay__colors div span:hover {
      width: 17px;
      height: 17px;
      margin: -1px 0 0 -1px; }
    .photo__image__overlay__colors div.c-blue span {
      background: #6e8cd5; }
    .photo__image__overlay__colors div.c-red span {
      background: #f56060; }
    .photo__image__overlay__colors div.c-green span {
      background: #44c28d; }
    .photo__image__overlay__colors div.c-white span {
      background: #fff;
      width: 14px;
      height: 14px;
      border: 1px solid #e8e9eb; }
    .photo__image__overlay__options {
      padding: 2px 0 0; }
      .photo__image__overlay__options strong {
        font-weight: 700;
        color: #393c45;
        font-size: 14px; }
      .photo__image__overlay__options span {
        color: #969699;
        font-size: 14px;
        display: block;
        margin-bottom: 8px; }

.photo .animate .photo__image__overlay {
  height: 220px; }

.photo .animate .photo__image__layer {
  opacity: 0.7; }

.photo .animate .photo__image__view-details {
  opacity: 1;
  width: 152px;
  font-size: 15px;
  top: 50%; }

.photo .photo__header {
  padding: 15px;
  display: flex;
  align-items: center; }

.photo__header .photo__avatar {
  width: 32px;
  border-radius: 50%;
  margin-right: 10px; }

.photo .photo__user-info .photo__author {
  display: block;
  font-weight: 600;
  margin-bottom: 5px; }

.photo .photo__info {
  padding: 15px 20px; }

.photo__actions {
  margin-bottom: 15px;
  font-size: 115%; }

.photo__actions .photo__action:first-child {
  margin-right: 15px; }

.photo__actions .photo__action {
  cursor: pointer; }

.photo__save {
  border: 2px solid black;
  padding: 3px 32px;
  font-weight: 600; }

.photo .photo__likes {
  font-weight: 600;
  margin-bottom: 10px;
  display: block; }

.photo .photo__add-comment-container {
  margin-top: 15px;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.photo__add-comment-container textarea {
  width: 90%;
  border: 0;
  font-size: 14px;
  resize: none;
  height: 20px;
  overflow: hidden; }

.photo__add-comment-container textarea:focus,
.photo__add-comment-container textarea:active {
  outline: none; }

.photo__add-comment-container i {
  cursor: pointer;
  margin-right: 5px; }

.photo .photo__time-ago {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  margin-top: 10px;
  display: block; }

.photo__comments .photo__comment-author {
  font-weight: 500; }

.photo__image__pointer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 15px;
  background-color: white;
  height: 30px;
  line-height: 20px;
  border-radius: 15px; }
  .photo__image__pointer * {
    transition: all 500ms ease-in-out; }
  .photo__image__pointer span {
    margin-left: 5px; }
  .photo__image__pointer i {
    font-weight: bold; }

.photo__image__pointer.collapsed span {
  display: none; }

.checkout_form {
  padding: 30px 20px; }
  .checkout_form * {
    display: block; }
  .checkout_form input, .checkout_form textarea {
    border: solid 1px #b4b4b4;
    box-shadow: none;
    width: 100%;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 16px;
    padding: 5px; }
  .checkout_form label {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold; }

.checkout_container {
  padding: 20px 0; }
  .checkout_container .form_content {
    border: solid 1px #dcdcdc;
    background-color: white;
    margin-bottom: 20px; }
  .checkout_container .form_title {
    padding: 20px; }
    .checkout_container .form_title h3 {
      margin-bottom: 5px;
      font-weight: 400 !important;
      font-size: 25px; }
  .checkout_container .ant-divider {
    margin: 5px 0; }
  .checkout_container .form_address {
    padding: 10px 20px;
    display: flex; }
    .checkout_container .form_address .address_checkbox {
      width: 10%; }
      .checkout_container .form_address .address_checkbox label {
        margin-left: 20%; }
    .checkout_container .form_address .address_content {
      width: 60%;
      font-weight: 400; }
    .checkout_container .form_address .address_btn_group {
      width: 40%; }
      .checkout_container .form_address .address_btn_group button {
        width: 100%; }
  .checkout_container .add_new_address {
    padding: 20px 20px; }
    .checkout_container .add_new_address button {
      padding: 10px;
      max-width: 400px;
      margin: auto; }

.submit_btn {
  border: none;
  width: 100%;
  margin-top: 10px;
  height: 36px;
  font-size: 18px;
  background: black;
  color: white;
  font-weight: 600; }

.navbar_container {
  background-color: #282828 !important;
  border-bottom: 1px solid #c8c8c8;
  padding: 0.8rem; }

@media (max-width: 1300px) {
  .navbar_container {
    padding: 0.4rem; }
    .navbar_container li {
      font-size: 13px; } }

.theme_button {
  border: none;
  background: black !important;
  color: white !important;
  border-radius: 0 !important;
  height: auto !important;
  padding: 5px 10px !important;
  margin: auto; }

.container_320 {
  padding: 0 40%; }

.container_160 {
  padding: 0 30%; }

.max_width_980 {
  width: 95%;
  margin: auto;
  max-width: 980px; }

.max_width_640 {
  width: 95%;
  margin: auto;
  max-width: 640px; }

.max_width_500 {
  width: 95%;
  margin: auto;
  max-width: 500px; }

.container_80 {
  padding: 0 13rem; }

.container_40 {
  padding: 0 6.5rem; }

.container_20 {
  padding: 0 1rem; }

.banner {
  width: 100%; }

.information {
  margin-top: 10px; }

.search-result {
  padding: 50px 0;
  display: flex !important;
  align-items: center; }
  .search-result__image {
    max-height: 150px;
    max-width: 150px;
    margin: auto; }
    .search-result__image img {
      border: solid 1px #777777;
      border-radius: 50%;
      width: 100%;
      height: 100%; }
  .search-result__text h1 {
    font-size: 32px;
    line-height: 40px; }
  .search-result__text span {
    font-size: 16px; }
    .search-result__text span span {
      font-weight: bold; }

.ant-cascader-menu {
  height: 100%; }

div#search_result {
  margin-top: 10%;
  font-size: 40px; }

div.ant-popover-inner-content {
  padding: 0 !important; }

@media (max-width: 500px) {
  .container_320 {
    padding: 0; } }

@media (max-width: 1000px) {
  .container_320 {
    padding: 0 30%; }
  .container_160 {
    padding: 0 15%; } }

.make-3D-space {
  position: relative;
  perspective: 800px;
  width: 100%;
  height: 500px;
  transform-style: preserve-3d;
  transition: transform 5s;
  margin-bottom: 10px; }

.product-card {
  width: 95%;
  height: 490px;
  position: absolute;
  overflow: hidden;
  transform-style: preserve-3d;
  -webkit-transition: 100ms ease-out;
  -moz-transition: 100ms ease-out;
  -o-transition: 100ms ease-out;
  transition: 100ms ease-out; }
  .product-card__front {
    width: 100%;
    height: 500px;
    background: #fff;
    position: absolute;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; }
  .product-card.animate {
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; }
    .product-card.animate .stats-container {
      top: 250px;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
    .product-card.animate .product-card__overlay {
      opacity: 0.7;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
    .product-card.animate .product-card__view-details {
      opacity: 1;
      width: 152px;
      font-size: 15px;
      margin-left: -75px;
      top: 115px;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
  .product-card__image {
    height: 100%;
    width: 100%;
    background: #f9f9f9 url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png") no-repeat center;
    padding-bottom: 114px;
    background-size: contain;
    background-origin: content-box; }
  .product-card__stats .stats-container {
    background: #fff;
    position: absolute;
    top: 386px;
    left: 0;
    width: 100%;
    height: 300px;
    padding: 27px 35px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    .product-card__stats .stats-container p {
      font-size: 16px;
      color: #b1b1b3;
      padding: 2px 0 20px 0; }
  .product-card__name {
    font-size: 22px;
    color: #393c45; }
  .product-card__price {
    float: right;
    color: #48cfad;
    font-size: 22px;
    font-weight: 600; }
  .product-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #48daa1;
    opacity: 0; }
  .product-card__colors div {
    margin-top: 3px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left; }
  .product-card__colors div span {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%; }
  .product-card__colors div span:hover {
    width: 17px;
    height: 17px;
    margin: -1px 0 0 -1px; }
  .product-card__colors div.c-blue span {
    background: #6e8cd5; }
  .product-card__colors div.c-red span {
    background: #f56060; }
  .product-card__colors div.c-green span {
    background: #44c28d; }
  .product-card__colors div.c-white span {
    background: #fff;
    width: 14px;
    height: 14px;
    border: 1px solid #e8e9eb; }
  .product-card__options {
    padding: 2px 0 0; }
    .product-card__options strong {
      font-weight: 700;
      color: #393c45;
      font-size: 14px; }
    .product-card__options span {
      color: #969699;
      font-size: 14px;
      display: block;
      margin-bottom: 8px; }
  .product-card__view-details {
    position: absolute;
    top: 112px;
    left: 50%;
    margin-left: -85px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    width: 172px;
    opacity: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }
    .product-card__view-details:hover {
      background: #fff;
      color: #48cfad;
      cursor: pointer; }
  .product-card__shadow {
    width: 335px;
    height: 520px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)); }

.status {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: solid 0.5px black;
  margin: auto; }
  .status--success {
    background-color: #2dcc2d; }

.order__details {
  width: 100%;
  margin-bottom: 10px; }
  .order__details th {
    font-size: 18px;
    padding-left: 20px;
    border-right: solid 1px #dcdee2;
    width: 40%; }
  .order__details td {
    font-size: 16px;
    padding-left: 20px; }

.order img {
  width: 90%;
  margin-left: 5%; }

.order_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: -6px; }
  .order_header__title {
    font-size: 28px;
    font-weight: 800; }
  .order_header__id {
    padding-top: 10px;
    font-size: 20px;
    color: blue; }

.product_header h3 {
  margin-bottom: 0; }

.product_pictures__details {
  font-size: 14px; }
  .product_pictures__details ol {
    font-size: 12px;
    padding-left: 20px; }
    .product_pictures__details ol li {
      letter-spacing: 0;
      line-height: 16px;
      list-style-type: circle; }

.product_pictures__new {
  display: inline-block;
  height: 160px;
  width: 160px;
  background-color: rgba(0, 0, 0, 0.055);
  margin: 10px 15px;
  border: solid 1px rgba(0, 0, 0, 0.171);
  text-align: center;
  font-size: 50px;
  padding: 42px 0; }

.product_details__item {
  margin-bottom: 10px; }

.product_details__label {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  padding-right: 20px; }
  .product_details__label p {
    font-size: 11px;
    font-weight: 500; }

.product_details__input {
  margin-top: 10px; }

.admin-panel .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px; }

.ant-card.grey-header .ant-card-head {
  background: #f9f9f9 !important; }

.add_listing button {
  border: none;
  cursor: pointer;
  padding: 1px 10px;
  background-color: transparent;
  font-size: 32px; }

.row_feed {
  padding-top: 1px;
  padding-bottom: 1px; }

.topRight {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-content: center; }
  .topRight i {
    margin: auto;
    font-size: 20px; }

@media (min-width: 768px) {
  .row_feed {
    padding-top: 4px;
    padding-bottom: 4px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .row_feed {
    padding-top: 6px;
    padding-bottom: 6px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .row_feed {
    padding-top: 8px;
    padding-bottom: 8px; } }

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999; }

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666; }

.ant-upload {
  margin-bottom: 20px; }

#chat {
  font: 12px "Open Sans", sans-serif; }

#chat * {
  box-sizing: content-box !important; }

#view-code {
  color: #89a2b5;
  opacity: 0.7;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  top: 660px;
  left: 50%;
  margin-left: -50px;
  z-index: 200; }

#view-code:hover {
  opacity: 1; }

#chatbox {
  width: 290px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  height: 484px;
  position: absolute;
  top: 200px;
  left: 80%;
  margin-left: -155px;
  border: solid 1px #19408a; }

#friendslist {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 290px;
  height: 484px; }

#topmenu {
  height: 69px;
  width: 290px;
  border-bottom: 1px solid #d8dfe3; }

#topmenu span {
  float: left;
  width: 96px;
  height: 70px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png") -3px -118px no-repeat; }

#topmenu span.friends {
  margin-bottom: -1px; }

#topmenu span.chats {
  background-position: -95px 25px;
  cursor: pointer; }

#topmenu span.chats:hover {
  background-position: -95px -46px;
  cursor: pointer; }

#topmenu span.history {
  background-position: -190px 24px;
  cursor: pointer; }

#topmenu span.history:hover {
  background-position: -190px -47px;
  cursor: pointer; }

.friend {
  height: 70px;
  border-bottom: 1px solid #e7ebee;
  position: relative; }

.friend:hover {
  background: #f1f4f6;
  cursor: pointer; }

.friend img {
  width: 40px;
  border-radius: 50%;
  margin: 15px;
  float: left; }

.floatingImg {
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 12px;
  border: 3px solid #fff; }

.friend p {
  padding: 15px 0 0 0;
  float: left;
  width: 220px; }

.friend p strong {
  font-weight: 600;
  font-size: 15px;
  color: #597a96; }

.friend p span {
  font-size: 13px;
  font-weight: 400;
  color: #aab8c2; }

.friend .status {
  background: #26c281;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 31px;
  right: 17px; }

.friend .status.away {
  background: #ffce54; }

.friend .status.inactive {
  background: #eaeef0; }

#search {
  background: #e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
  height: 60px;
  width: 290px;
  position: absolute;
  bottom: 0;
  left: 0; }

#searchfield {
  background: #e3e9ed;
  margin: 21px 0 0 55px;
  border: none;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  color: #8198ac; }

#searchfield:focus {
  outline: 0; }

#chatview {
  width: 290px;
  height: 484px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff; }

#profile {
  height: 153px;
  overflow: hidden;
  text-align: center;
  color: #fff; }

.p1 #profile {
  background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") 0 0 no-repeat; }

#profile .avatar {
  width: 68px;
  border: 3px solid #fff;
  margin: 23px 0 0;
  border-radius: 50%; }

#profile p {
  font-weight: 600;
  font-size: 15px;
  margin: 118px 0 -1px;
  -webkit-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -o-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1); }

#profile p {
  margin-top: 97px;
  opacity: 1;
  -webkit-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -o-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1); }

#profile span {
  font-weight: 400;
  font-size: 11px; }

#chat-messages {
  margin: 0px;
  width: 290px;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
  -webkit-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -o-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1); }

#chat-messages.animate {
  opacity: 1;
  margin-top: 0; }

#chat-messages label {
  color: #aab8c2;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin: 15px 0;
  width: 290px;
  display: block; }

#chat-messages div.message {
  padding: 0 0 30px 58px;
  clear: both;
  margin-bottom: 45px; }

#chat-messages div.message.right {
  padding: 0 58px 30px 0;
  margin-right: -19px;
  margin-left: 19px; }

#chat-messages .message img {
  float: left;
  margin-left: -38px;
  border-radius: 50%;
  width: 30px;
  margin-top: 12px; }

#chat-messages div.message.right img {
  float: right;
  margin-left: 0;
  margin-right: -38px; }

.message .bubble {
  background: #f0f4f7;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 13px;
  border-radius: 5px 5px 5px 0px;
  color: #8495a3;
  position: relative;
  float: left; }

#chat-messages div.message.right .bubble {
  float: right;
  border-radius: 5px 5px 0px 5px; }

.bubble .corner {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
  position: absolute;
  width: 7px;
  height: 7px;
  left: -5px;
  bottom: 0; }

div.message.right .corner {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
  left: auto;
  right: -5px; }

.bubble span {
  color: #aab8c2;
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: -22px; }

#sendmessage {
  height: 60px;
  border-top: 1px solid #e7ebee;
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 290px;
  background: #fff; }

#sendmessage input {
  background: #fff;
  margin: 21px 0 0 21px;
  border: none;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  color: #aab8c2; }

#sendmessage input:focus {
  outline: 0; }

#sendmessage button {
  background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 23px;
  border: none; }

#sendmessage button:hover {
  cursor: pointer;
  background-position: 0 0; }

#sendmessage button:focus {
  outline: 0; }

#close {
  position: absolute;
  top: 8px;
  opacity: 0.8;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer; }

#close:hover {
  opacity: 1; }

.cx, .cy {
  background: #fff;
  position: absolute;
  width: 0px;
  top: 15px;
  right: 15px;
  height: 3px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

.cx.s1, .cy.s1 {
  right: 0;
  width: 20px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cy.s2 {
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cy.s3 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cx.s1 {
  right: 0;
  width: 20px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cx.s2 {
  -ms-transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cx.s3 {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 100ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

#chatview, #sendmessage {
  overflow: hidden;
  border-radius: 6px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background: #fafafa !important; }

body {
  height: 100vh; }

body {
  min-height: 100vh; }

.main {
  min-height: calc(100vh - 64px); }

.nav_bar {
  padding: 0;
  font-family: 'Work Sans';
  margin: 0; }

.userName {
  position: absolute;
  top: 21px;
  left: 28px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.nav_bar li {
  display: inline-block;
  padding: 5px 10px; }

.nav_bar li a, .nav_bar li {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  letter-spacing: 0px; }

.nav_bar li a:hover, .nav_bar li:hover {
  cursor: pointer;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white; }

.title {
  margin: 30px 0 0 20px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  letter-spacing: 0.6em; }

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  text-align: center; }
  .products .product {
    width: 25%; }
    .products .product .image-container {
      margin: 10px; }
    .products .product img {
      width: 100%; }

.each_product {
  width: 330px;
  padding: 10px; }

.footer {
  padding: 20px; }

.footer p {
  clear: both;
  letter-spacing: 1px;
  max-width: 880px;
  width: 100%;
  text-align: center;
  margin: 100px auto;
  line-height: 25px; }

.product-image, .product-info {
  float: left;
  width: 43%;
  margin-top: 20px; }

.product-image {
  margin-right: 50px; }

.product-image img {
  width: 100%; }

.details {
  max-width: 960px;
  width: 100%;
  height: 400px;
  margin: 60px auto; }

.details h2 {
  font-weight: 400;
  letter-spacing: 1.2px; }

.add-cart {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 400;
  font-size: 13px; }

.add-cart:hover, .login button:hover, .confirmButton:hover, .checkout button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8); }

.login {
  text-align: center;
  letter-spacing: 1px; }

.login input {
  margin-top: 29px;
  padding: 5px;
  width: 200px;
  margin-right: 20px;
  letter-spacing: 1px; }

.login button, .signUp button, .shoppingCart button {
  width: 109px;
  height: 32px;
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 11px; }

.signUp button {
  width: 100%;
  height: 40px;
  font-size: 15px;
  letter-spacing: 5px; }

.signUp {
  margin: 60px auto;
  width: 400px; }

.signUp input {
  padding: 5px;
  border-radius: 0;
  letter-spacing: 1px; }

label {
  font-weight: 300; }

.shoppingCart {
  max-width: 800px;
  width: 100%;
  margin: 50px auto; }

.cartHeading {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px; }

.cartImage {
  width: 100px; }

tr {
  border-bottom: 1px solid #dcdee2; }

th, td, tr {
  font-size: 16px;
  padding: 15px 0;
  width: 200px; }

.deleteCol {
  width: 5px; }

.deleteCol:hover {
  color: red;
  cursor: pointer; }

.tableHeaders th {
  font-weight: 700;
  font-size: 12px; }

.shoppingCart button {
  float: right;
  width: 200px;
  height: 40px;
  margin-top: 30px;
  font-size: 14px;
  letter-spacing: 5px; }

.thumbsUp {
  display: block;
  margin: 75px auto;
  width: 75px; }

.thanks {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px; }

.checkout button {
  width: 100%;
  height: 40px;
  font-size: 15px;
  letter-spacing: 5px; }

.confirmButton a {
  text-decoration: none;
  color: white; }

.billing, .shipping {
  width: 300px;
  display: inline-block;
  margin-right: 20px; }

.formHeader {
  letter-spacing: 1px;
  margin-bottom: 20px; }

.addressForms {
  max-width: 644px;
  width: 100%;
  margin: 0 auto; }

.message {
  font-weight: 400;
  color: red; }

.atn-btn {
  letter-spacing: 2px; }

@media screen and (max-width: 960px) {
  .product-image, .product-info {
    width: 100%;
    padding: 30px; }
  .product-image {
    text-align: center; }
  .product-image img {
    text-align: center;
    max-width: 400px; }
  .signUp {
    padding: 24px; } }

#chat {
  font: 12px "Open Sans", sans-serif; }

#chat * {
  box-sizing: content-box !important; }

#view-code {
  color: #89a2b5;
  opacity: 0.7;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  top: 660px;
  left: 50%;
  margin-left: -50px;
  z-index: 200; }

#view-code:hover {
  opacity: 1; }

#chatbox {
  width: 290px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  height: 484px;
  position: absolute;
  top: 200px;
  left: 80%;
  margin-left: -155px;
  border: solid 1px #19408a; }

#friendslist {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 290px;
  height: 484px; }

#topmenu {
  height: 69px;
  width: 290px;
  border-bottom: 1px solid #d8dfe3; }

#topmenu span {
  float: left;
  width: 96px;
  height: 70px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png") -3px -118px no-repeat; }

#topmenu span.friends {
  margin-bottom: -1px; }

#topmenu span.chats {
  background-position: -95px 25px;
  cursor: pointer; }

#topmenu span.chats:hover {
  background-position: -95px -46px;
  cursor: pointer; }

#topmenu span.history {
  background-position: -190px 24px;
  cursor: pointer; }

#topmenu span.history:hover {
  background-position: -190px -47px;
  cursor: pointer; }

.friend {
  height: 70px;
  border-bottom: 1px solid #e7ebee;
  position: relative; }

.friend:hover {
  background: #f1f4f6;
  cursor: pointer; }

.friend img {
  width: 40px;
  border-radius: 50%;
  margin: 15px;
  float: left; }

.floatingImg {
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 12px;
  border: 3px solid #fff; }

.friend p {
  padding: 15px 0 0 0;
  float: left;
  width: 220px; }

.friend p strong {
  font-weight: 600;
  font-size: 15px;
  color: #597a96; }

.friend p span {
  font-size: 13px;
  font-weight: 400;
  color: #aab8c2; }

.friend .status {
  background: #26c281;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 31px;
  right: 17px; }

.friend .status.away {
  background: #ffce54; }

.friend .status.inactive {
  background: #eaeef0; }

#search {
  background: #e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
  height: 60px;
  width: 290px;
  position: absolute;
  bottom: 0;
  left: 0; }

#searchfield {
  background: #e3e9ed;
  margin: 21px 0 0 55px;
  border: none;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  color: #8198ac; }

#searchfield:focus {
  outline: 0; }

#chatview {
  width: 290px;
  height: 484px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff; }

#profile {
  height: 153px;
  overflow: hidden;
  text-align: center;
  color: #fff; }

.p1 #profile {
  background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") 0 0 no-repeat; }

#profile .avatar {
  width: 68px;
  border: 3px solid #fff;
  margin: 23px 0 0;
  border-radius: 50%; }

#profile p {
  font-weight: 600;
  font-size: 15px;
  margin: 118px 0 -1px;
  -webkit-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -o-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1); }

#profile p {
  margin-top: 97px;
  opacity: 1;
  -webkit-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -o-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1); }

#profile span {
  font-weight: 400;
  font-size: 11px; }

#chat-messages {
  margin: 0px;
  width: 290px;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
  -webkit-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  -o-transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 200ms cubic-bezier(0, 0.995, 0.99, 1); }

#chat-messages.animate {
  opacity: 1;
  margin-top: 0; }

#chat-messages label {
  color: #aab8c2;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin: 15px 0;
  width: 290px;
  display: block; }

#chat-messages div.message {
  padding: 0 0 30px 58px;
  clear: both;
  margin-bottom: 45px; }

#chat-messages div.message.right {
  padding: 0 58px 30px 0;
  margin-right: -19px;
  margin-left: 19px; }

#chat-messages .message img {
  float: left;
  margin-left: -38px;
  border-radius: 50%;
  width: 30px;
  margin-top: 12px; }

#chat-messages div.message.right img {
  float: right;
  margin-left: 0;
  margin-right: -38px; }

.message .bubble {
  background: #f0f4f7;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 13px;
  border-radius: 5px 5px 5px 0px;
  color: #8495a3;
  position: relative;
  float: left; }

#chat-messages div.message.right .bubble {
  float: right;
  border-radius: 5px 5px 0px 5px; }

.bubble .corner {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
  position: absolute;
  width: 7px;
  height: 7px;
  left: -5px;
  bottom: 0; }

div.message.right .corner {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
  left: auto;
  right: -5px; }

.bubble span {
  color: #aab8c2;
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: -22px; }

#sendmessage {
  height: 60px;
  border-top: 1px solid #e7ebee;
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 290px;
  background: #fff; }

#sendmessage input {
  background: #fff;
  margin: 21px 0 0 21px;
  border: none;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  color: #aab8c2; }

#sendmessage input:focus {
  outline: 0; }

#sendmessage button {
  background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 23px;
  border: none; }

#sendmessage button:hover {
  cursor: pointer;
  background-position: 0 0; }

#sendmessage button:focus {
  outline: 0; }

#close {
  position: absolute;
  top: 8px;
  opacity: 0.8;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer; }

#close:hover {
  opacity: 1; }

.cx, .cy {
  background: #fff;
  position: absolute;
  width: 0px;
  top: 15px;
  right: 15px;
  height: 3px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

.cx.s1, .cy.s1 {
  right: 0;
  width: 20px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cy.s2 {
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cy.s3 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cx.s1 {
  right: 0;
  width: 20px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cx.s2 {
  -ms-transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

.cx.s3 {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 100ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }

#chatview, #sendmessage {
  overflow: hidden;
  border-radius: 6px; }
